html{
  padding-left: 0px;
}
body{
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
  color: var(--preto-100)
}
h1,h2,h3,p{
  margin: 0px;
}
ul{
  margin: 0%;
  padding: 0px;
  list-style: none;
}


.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #525252;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.scroll-to-top:hover {
  background-color: #a3a3a3;
} 

.subtitulo{
  /* padding-top: 80px; */
  font-size: 8rem;
  line-height: 1.4;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media(max-width: 800px){
  .subtitulo{
    font-size: 4rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
@media(max-width: 400px){
  .subtitulo{
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
  }
}