.introducao{
  max-width: 1920px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1{
  font-size: 5.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}
.introducao h1::before{
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url('/img/detalhe.svg') no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}
.introducao p{ 
font-size: 1.5rem;
color: var(--cinza-200);
}
@media(max-width: 1100px){
  .introducao h1{
    font-size: 4.0rem;
  }
}
@media(max-width: 1000px){
  .introducao h1{
    font-size: 3.0rem;
  }
}
@media(max-width: 800px){
  .introducao h1{
    font-size: 2.5rem;
  }
  .introducao{
    gap:60px
  }
  .introducao p{
    font-size: 1rem;
  }
}
@media(max-width: 600px){
  .introducao h1{
    font-size: 1.9rem;
  }
  .introducao p{
    font-size: 0.9rem;
  }
  .introducao h1::before{
    height: 10px;
    width: 120px;
    left: -30px;
    top: -10px;
  }
  .introducao{
    gap: 40px;
  }
}
@media(max-width: 400px){
  .introducao img{
    display: none;
  }
  .introducao{
   grid-template-columns: 1fr;
  }
}